.section-title {
    margin-top: 8%;
}
article + article {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 3rem;
    text-align: justify;
}
p {
    line-height: 1.6;
}
.block {
    margin-left: 3%;
}
.personal_block__title .h2 {
    position: relative;
    margin: 0 0 30px 0;
    font-weight: bold;
    padding: 25px 20px;
    font-size: 20px;
    line-height: 18px;
    border-bottom: 3px solid #f9dd94;
    color: #005bb4;
}
.social-vk {
    font-size: 18px;
}
